<div class="container">
  <div class="text-center">
    <div class="container">
      <br>
      <h1 style="font-family: 'Roboto Slab', serif; color: #007bff" >Welcome to <br>Doctor<span style="color: #ff5b62;"> Spotter</span></h1>
      <br>
    </div>


    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <p style='color:red'><%= error %></p>
      <% end %>
    <% end %>

    <div class="container">
      <%= form_tag(verified_path) do %>
          <div class="form-group">
            <%= text_field_tag :email, nil, placeholder: "Email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2" %>
          </div>
          <div class="form-group">
            <%= password_field_tag :password, nil, placeholder: "Password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3" %>
          </div>
          <div class="form-group">
            <%= submit_tag "Submit", class:"btn btn-primary" %>
          <div>
      <% end %>
    </div>
    <hr>
    <div class="form-group">
      <%= link_to "Sign Up", new_patient_path, :method => :get %>
    </div>
  </div>
</div>
