<div class="container">
  <div class="text-center">
    <br>
    <h4 style="font-family: 'Roboto Slab', serif; color: #007bff" >Please enter a request by <span style="color: #ff5b62;">Speacialty</span><br> and select your <span style="color: #ff5b62;">insurance</span></h4>
    <br><br>
    <div class="needs-validation">
      <%= form_tag("/doctors", method: "post") do %>
        <div class="container">
          <div class="form-group" >
            <%# <%= label_tag(:specialty) %>
              <%= collection_select(:doctor, :specialty_id, Specialty.all, :id, :name, prompt: "Select Specialty", style: "width:100%") %><br>
          </div>
          <div class="form-group" >
            <%# <%= label_tag(:Insurance) %>
            <%= collection_select(:doctor, :insurance_id, Insurance.all, :id, :name, prompt: "Select Insurance", style: "width:100%") %>
          </div>
          <%= submit_tag "Search", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
